# GLOBAL
.env
.env.*
*.log
.DS_Store

# BACKEND
backend/venv/
backend/__pycache__/
backend/.env

# FRONTEND
frontend/node_modules/
frontend/.next/
frontend/dist/
frontend/.env

# LOCK FILES (choisis UN SEUL gestionnaire)
pnpm-lock.yaml
package-lock.json
